
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: purple;
}

::selection{
  color: #fff;
  background: purple;
}

.begin button,
.container_one,
.container_two,
.results.activeResult{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 green, 
              0 6px 20px 0 green;
}

.container_one.activeInfo,
.container_two.activeQuiz,
.results.activeResult{
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.begin button{
  font-size: 25px;
  font-weight: 500;
  color: green;
  padding: 15px 30px;
  outline: none;
  border: 5px solid greenyellow;
  border-radius: 5px;
  background: yellow;
  cursor: pointer;
}

.container_one{
  width: 540px;
  background: yellow;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
}

.container_one .title-one{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.container_one .info-one{
  padding: 15px 30px;
}

.container_one .info-one .info{
  margin: 5px 0;
  font-size: 17px;
  font-weight: 600;
  color: green;
}


.container_one .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid;
}

.container_one .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid green;
  transition: all 0.3s ease;
}
.container_two{
  width: 1000px;
  background: yellow;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
}

.container_two header{
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: yellow;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.title-two{
  font-size: 20px;
  font-weight: 600;
}

.timer{
  color: green;
  background: yellow;
  border: 1px solid green;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.timer .time_left_txt{
  font-weight: 400;
  font-size: 24px;
  user-select: none;
}

.timer .timer_sec{
  font-size: 24px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: green;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}

.time_line{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: yellow;
}
section{
  padding: 25px 30px 20px 30px;
  background: yellow;
}

section .question_text{
  font-size: 25px;
  font-weight: 600;
}

section .answer_list{
  padding: 20px 0px;
  display: block;   
}

section .answer_list .option{
  background: yellowgreen;
  border: 1px solid green;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .answer_list .option:last-child{
  margin-bottom: 0px;
}

section .answer_list .option:hover{
  color: yellow;
  background: #cce5ff;
  border: 1px solid green;
}


footer{
  height: 60px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.questions_left span{
  display: flex;
  user-select: none;
}

.questions_left span p{
  font-weight: 500;
  padding: 0 5px;
}

.questions_left span p:first-child{
  padding-left: 0px;
}

footer button{
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: green;
  border-radius: 5px;
  background: yellowgreen;
  border: 1px solid green;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

footer button:hover{
  background: green;
}

footer button.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.results{
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
}

.results .icon{
  font-size: 100px;
  color: green
}

.results .complete_text{
  font-size: 20px;
  font-weight: 500;
}

.results .score_text span{
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.results .score_text span p{
  padding: 0 4px;
  font-weight: 600;
}

.results .buttons{
  display: flex;
  margin: 20px 0;
}

.results .buttons button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid green;
  transition: all 0.3s ease;
}

.buttons button.continue{
  color: green;
  background: yellowgreen;
}

.buttons button.restart:hover{
  background: yellowgreen;
}

.buttons button.quit{
  color: green;
  background: yellowgreen;
}

.buttons button.quit:hover{
  color: green;
  background: yellowgreen;
}